<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Prologue</a></li>
        <li class="nav-main-title" role="presentation"><a href="{{ site.baseurl }}#main-title">The Story</a></li>
        <li class="nav-intro" role="presentation"><a href="{{ site.baseurl }}#intro">Introduction</a></li>
        <li class="nav-data" role="presentation"><a href="{{ site.baseurl }}#data">Data</a></li>
        <li class="nav-stats" role="presentation"><a href="{{ site.baseurl }}#stats">Statistics</a></li>
        <li class="nav-genre" role="presentation"><a href="{{ site.baseurl }}#genre">Genre</a></li>
        <li class="nav-models" role="presentation"><a href="{{ site.baseurl }}#models">Models</a></li>



   
        
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
    </ul>
</div>
<span class="nav-cover"></span>
